@import url('https://fonts.googleapis.com/css2?family=Bellota:ital@1&display=swap');

html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Bellota', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

